<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button  expand="block" (click)='loadMore()'>Load More</ion-button>
  <ion-list>
    <ion-item button *ngFor="let character of characters">
      <ion-avatar slot="start">
        <img [src]="character.thumbnail.path + '.' + character.thumbnail.extension" />
      </ion-avatar>

      <ion-label class="ion-text-wrap">
        <h3>{{ character.name }}</h3>
        <p>{{ character.description}}</p>
      </ion-label>

      <ion-badge slot="end"> {{ character.comics.available }} </ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
